<div class="flex flex-col justify-center items-center w-screen h-screen bg-gray-200">
    <div *ngIf="status && status===409" class="mx-2 px-16 py-8 bg-red-100 text-red-900">
        {{ error }}
    </div>
    <div class="p-8 border-2">
        <h1 class="mb-8 font-bold text-center text-3xl">Sign up</h1>
        <form [formGroup]="form" class="flex flex-col items-center">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="usernameControl"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="passwordControl"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="emailControl"/>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary" (click)="onSubmit()" class="w-full">
                <mat-icon>person_add</mat-icon>
                Sign up
            </button>
        </form>
    </div>
    <div class="text-center">
        Already have an account !
        <span class="hover:text-sky-400 hover:cursor-pointer" (click)="onLoginClick()">
            Sign In
        </span>
    </div>
</div>



<!-- <div class="grid grid-cols-3 w-screen bg-gray-200">
    <div class="col-span-1">
        
    </div>
    <div class="col-span-2">
        <form [formGroup]="form" class="grid grid-cols-2 h-screen">
            <div class="flex flex-col justify-center items-center">
                <h1 class="mb-8 font-bold text-center text-3xl">Sign up</h1>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="usernameControl"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="passwordControl"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="emailControl"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email Confirm</mat-label>
                    <input matInput type="email" formControlName="email2Control"/>
                </mat-form-field>
                <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">
                    <mat-icon>person_add</mat-icon>
                    Sign up
                </button>
            </div>
            <div class="flex flex-col justify-center items-start">
                <mat-form-field appearance="outline">
                    <mat-label>Firstname</mat-label>
                    <input matInput type="text" formControlName="firstnameControl"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Lastname</mat-label>
                    <input matInput type="text" formControlName="lastnameControl"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="emailControl"/>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email Confirm</mat-label>
                    <input matInput type="email" formControlName="email2Control"/>
                </mat-form-field>
            </div>
        </form>
    </div>
</div> -->
