<!-- <h1 mat-dialog-title>

</h1> -->
<div mat-dialog-content class="">
  <div class="flex justify-center">
    <img [src]="BOLD_ICON"      (click)="setBold()"      class="w-6 h-2 hover:cursor-pointer"      matTooltip="bold"/>
    <img [src]="ITALIC_ICON"    (click)="setItalic()"    class="ms-1 w-6 h-2 hover:cursor-pointer" matTooltip="italic"/>
    <img [src]="UNDERLINE_ICON" (click)="setUnderline()" class="ms-1 w-6 h-2 hover:cursor-pointer" matTooltip="underline"/>
    <img [src]="LINK_ICON"      (click)="setLink()"      class="ms-1 w-6 h-2 hover:cursor-pointer" matTooltip="add a link"/>
  </div>
</div>
<!-- <div class="flex justify-center">
    <div mat-dialog-actions class="">
        
    </div>
</div> -->
